**.bak
**.mtl
**.orig
**/*.dll
**/*.exe
*.pyc
.DS_Store
/CMakeLists.txt
OpenGL-tutorial_v*
Thumbs.db
bin-*/*
build/*
distrib/build_*/*
makefile
screenshot.bmp
docs/

Win32/
docs/
src_img/
src_img_copy/
build/
comment
head.obj
mask.obj
venus.obj
marble.png
